    
    .cl_ff2bea {
        background-color: #ff2bea;
    }

        
    .cl_ff2bea .forceWidth.toolong:after {
        background: linear-gradient(to right,
            rgba(255,43,234,0) 0%,
            rgba(255,43,234,1) 96%);
    }
    
    .cl_33cc44 {
        background-color: #33cc44;
    }

        
    .cl_33cc44 .forceWidth.toolong:after {
        background: linear-gradient(to right,
            rgba(51,204,68,0) 0%,
            rgba(51,204,68,1) 96%);
    }
    
    .cl_FFFFFF {
        background-color: #FFFFFF;
    }

        
    .cl_FFFFFF .forceWidth.toolong:after {
        background: linear-gradient(to right,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,1) 96%);
    }
    
    .cl_FFFFFF {
        background-color: #FFFFFF;
    }

        
    .cl_FFFFFF .forceWidth.toolong:after {
        background: linear-gradient(to right,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,1) 96%);
    }
    
    .cl_FFFFFF {
        background-color: #FFFFFF;
    }

        
    .cl_FFFFFF .forceWidth.toolong:after {
        background: linear-gradient(to right,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,1) 96%);
    }
    
    .cl_FFFFFF {
        background-color: #FFFFFF;
    }

        
    .cl_FFFFFF .forceWidth.toolong:after {
        background: linear-gradient(to right,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,1) 96%);
    }
    
    .cl_FFFFFF {
        background-color: #FFFFFF;
    }

        
    .cl_FFFFFF .forceWidth.toolong:after {
        background: linear-gradient(to right,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,1) 96%);
    }
    
    .cl_FFFF99 {
        background-color: #FFFF99;
    }

        
    .cl_FFFF99 .forceWidth.toolong:after {
        background: linear-gradient(to right,
            rgba(255,255,153,0) 0%,
            rgba(255,255,153,1) 96%);
    }
